In [1]:
import pandas as pd
%matplotlib inline

In [2]:
titanic = pd.read_csv("/content/drive/MyDrive/titanic.csv")
print(titanic.shape)
titanic.info()

(1309, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

In [3]:
titanic.dtypes

passenger_id      int64
pclass            int64
survived          int64
name             object
sex               int64
age             float64
sibsp             int64
parch             int64
ticket           object
fare            float64
cabin            object
embarked         object
boat             object
body            float64
home.dest        object
dtype: object

In [4]:
# Increade max number of columns to display for this dataset.
pd.set_option("display.max_columns",50)
titanic.head()

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
titanic.passenger_id.unique()

array([   1,    2,    3, ..., 1307, 1308, 1309])

In [7]:
titanic.survived.unique()

array([1, 0])

In [10]:
for col in titanic.columns:
  print(col, titanic[col].value_counts)

passenger_id <bound method IndexOpsMixin.value_counts of 0          1
1          2
2          3
3          4
4          5
        ...
1304    1305
1305    1306
1306    1307
1307    1308
1308    1309
Name: passenger_id, Length: 1309, dtype: int64>
pclass <bound method IndexOpsMixin.value_counts of 0       1
1       1
2       1
3       1
4       1
       ..
1304    3
1305    3
1306    3
1307    3
1308    3
Name: pclass, Length: 1309, dtype: int64>
survived <bound method IndexOpsMixin.value_counts of 0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64>
name <bound method IndexOpsMixin.value_counts of 0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object>
sex <bound method IndexOpsMixin.value_counts of 0       1
1       0
2       1
3       0
4       1
       ..
1304    1
1305    1
1306    0
1307    0
1308    0
Name: sex, Length: 1309, dtype: int64>
age <bound method IndexOpsMixin.value_counts of 0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64>
sibsp <bound method IndexOpsMixin.value_counts of 0       0
1       1
2       1
3       1
4       1
       ..
1304    1
1305    1
1306    0
1307    0
1308    0
Name: sibsp, Length: 1309, dtype: int64>
parch <bound method IndexOpsMixin.value_counts of 0       0
1       2
2       2
3       2
4       2
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: parch, Length: 1309, dtype: int64>
ticket <bound method IndexOpsMixin.value_counts of 0        24160
1       113781
2       113781
3       113781
4       113781
         ...
1304      2665
1305      2665
1306      2656
1307      2670
1308    315082
Name: ticket, Length: 1309, dtype: object>
fare <bound method IndexOpsMixin.value_counts of 0       211.3375
1       151.5500
2       151.5500
3       151.5500
4       151.5500
          ...
1304     14.4542
1305     14.4542
1306      7.2250
1307      7.2250
1308      7.8750
Name: fare, Length: 1309, dtype: float64>
cabin <bound method IndexOpsMixin.value_counts of 0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1304        NaN
1305        NaN
1306        NaN
1307        NaN
1308        NaN
Name: cabin, Length: 1309, dtype: object>
embarked <bound method IndexOpsMixin.value_counts of 0       S
1       S
2       S
3       S
4       S
       ..
1304    C
1305    C
1306    C
1307    C
1308    S
Name: embarked, Length: 1309, dtype: object>
boat <bound method IndexOpsMixin.value_counts of 0         2
1        11
2       NaN
3       NaN
4       NaN
       ...
1304    NaN
1305    NaN
1306    NaN
1307    NaN
1308    NaN
Name: boat, Length: 1309, dtype: object>
body <bound method IndexOpsMixin.value_counts of 0         NaN
1         NaN
2         NaN
3       135.0
4         NaN
        ...
1304    328.0
1305      NaN
1306    304.0
1307      NaN
1308      NaN
Name: body, Length: 1309, dtype: float64>
home.dest <bound method IndexOpsMixin.value_counts of 0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1304                                NaN
1305                                NaN
1306                                NaN
1307                                NaN
1308                                NaN
Name: home.dest, Length: 1309, dtype: object>

In [17]:
titanic.describe()

,passenger_id,pclass,survived,sex,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,655.000000,2.294882,0.381971,0.355997,29.881135,0.498854,0.385027,33.295479,160.809917
std,378.020061,0.837836,0.486055,0.478997,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,1.000000,0.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,328.000000,2.000000,0.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,655.000000,3.000000,0.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,982.000000,3.000000,1.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,1309.000000,3.000000,1.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [18]:
print(f"Ticket classes: {titanic.pclass.value_counts().sort_values(ascending = False)}")

Ticket classes: pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [19]:
print(f"Unique data points: {titanic.survived.unique()}")
print(f"Survived: {titanic.survived.value_counts()}")

Unique data points: [1 0]
Survived: survived
0    809
1    500
Name: count, dtype: int64

In [21]:
print(f"Sex: {titanic.sex.map({0: "Male", 1: "Female"}).value_counts()})")

Sex: sex
Male      843
Female    466
Name: count, dtype: int64)

In [22]:
# sibsp
print(f"Siblings/Spouses: {titanic.sibsp.value_counts()}")

Siblings/Spouses: sibsp
0    891
1    319
2     42
4     22
3     20
8      9
5      6
Name: count, dtype: int64

In [23]:
# parch
print(f"Parents/Children: {titanic.parch.value_counts()}")

Parents/Children: parch
0    1002
1     170
2     113
3       8
4       6
5       6
6       2
9       2
Name: count, dtype: int64

In [11]:
titanic['age'].dtypes

dtype('float64')

In [16]:
data=pd.get_dummies(titanic, columns=['sex', 'embarked','survived','pclass'])
titanic.head(5)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"